FA6VDV_1013/FA6VDV_mozi.dtd

<!ELEMENT mozi (film)+> 
	<!ATTLIST film id CDATA #REQUIRED>
	<!ATTLIST film mufaj (horror|romantikus|akció|vígjáték) "horror">
<!ELEMENT film (rendezo,szinesz,iro)*>
	<!ELEMENT rendezo EMPTY>
 	  <!ATTLIST rendezo id CDATA #REQUIRED>
	  <!ATTLIST rendezo nev CDATA #REQUIRED>
	<!ELEMENT szinesz EMPTY>
	  <!ATTLIST szinesz id CDATA #REQUIRED>
	  <!ATTLIST szinesz nev CDATA #REQUIRED>
	<!ELEMENT iro EMPTY>
	  <!ATTLIST iro id CDATA #REQUIRED>