FA6VDV_1013/SI_orarend.DTD

<!ELEMENT orarend (ora)+>
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)*>	 
	<!ATTLIST ora id CDATA #REQUIRED>
	<!ATTLIST ora tipus (elmélet|gyakorlat) #IMPLIED>
	<!ELEMENT targy (#PCDATA)>
	<!ELEMENT idopont (nap , tol, ig)>
	<!ELEMENT nap (#PCDATA)>
	<!ELEMENT tol (#PCDATA)>
	<!ELEMENT ig (#PCDATA)>
	<!ELEMENT helyszin (#PCDATA)>
	<!ELEMENT oktato (#PCDATA)>
	<!ELEMENT szak (#PCDATA)>